.newsfeed-main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 30px 30px 30px 30px;
    justify-content: space-around;
    overflow-y: scroll;
}

.newsfeed-post {
    width: 100% !important;
}
.newsfeed-card{
    width: 50%;

}
.newsfeed-image{
    display: flex;
    justify-content: center;
    /*width: 20px;*/
    /*height: 20px;*/
    padding: 20px 20px 20px 20px;
}

.newsfeed-content {
    width: 70%;
    float: left;
}

.newsfeed-url {
    width: 30%;
    float: right;
}

.modal-button {
    align-items: center !important;
    display: flex;
    justify-content: center;
}

.newsfeed-btn{
    margin: 0 10px 20px 20px !important;
    width: 50px !important;
}

